[submodule "themes/ananke"]
[submodule "public"]
    path = public
	url = https://github.com/mrmikemarshall/mrmikemarshall.github.io.git
[submodule "themes/bilberry-hugo-theme"]
	path = themes/bilberry-hugo-theme
	url = https://github.com/Lednerb/bilberry-hugo-theme.git
